{% extends 'layouts/base.twig' %}

{% block body %}

    <main>
        <section class="container">
            <h1>Page introuvable</h1>
            <p>Cette page n'existe pas ou plus.</p>
        </section>
        <section class="container">
            <a class="button" href="/">Retour à l'accueil</a>
        </section>
    </main>

{% endblock %}