{% extends 'layouts/base.twig' %}

{% block body %}

    <main>
        {% include 'partials/content.twig' %}

        {% include 'partials/home_blocks.twig' %}
        {% include 'partials/last_highlights_all.twig' %}
    </main>

{% endblock %}
