$black: #000;
$white: #FFF;
$gray1: #e9e9e9;
$gray2: #f0f0f0;
$gray3: #757474;
$gray4: #c6c3c3;
$gray5: #c0c0c0;
$gray6: #b1afaf;
$gray7: #908e8e;
$gray8: #dcdcdc;

$main-color: #1d1c6c;
$second-color: #29acec;
$bg-color: $white;
$section-color: $gray1;

$academyc-color: #e15327;
$industrial-color: #a6cc08;
$people-color: #0b96da;