.home {
  .formatted-content{
    padding: 0 ($space * 7.5);
    p, h2, h3, h4, h5, h6, ul {
      text-align: center;
    }
    p {
      margin-bottom: $space +5px;
    }
    h2 {
      font-family: $ebold-font;
      font-size: 25px;
    }
    @include down(720) {
      padding: 0 ($space * 2);
    }
  }
  .homeblocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: ($space * 2);
    .homeblock-item {
      width: 344px;
      height: 316px;
      color: $white;
      margin-bottom: $space;
      overflow: hidden;
      @include down(390) {
        width: 289px;
        height: 266px;
      }
      &:hover {
        .homeblock-link .homeblock-bg {
          transform: scale(1.1, 1.1);
        }
      }
      .homeblock-link {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        height: 100%;
        padding: ($space + 7px);
        background: none;
        transition: transform 0.2s ease-in-out;
        .homeblock-bg {
          position: absolute;
          top: -40px;
          left: 0;
          z-index: -2;
          width: 100%;
          height: auto;
          transition: transform 0.2s ease-in-out;
        }
        .homeblock-overlay {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 344px;
          height: 316px;
          @include down(390) {
            width: 289px;
            height: 266px;
          }
          &.academyc_red {
            // background: linear-gradient(rgba(255,255,255,0.2), $academyc-color);
            background: linear-gradient(rgba(225,83,39,0) 25%, rgba(225,83,39,1) 55%);
          }
          &.industriel_green {
            background: linear-gradient(rgba(166,204,8,0) 25%, rgba(166,204,8,1) 55%);
          }
          &.people_blue {
            background: linear-gradient(rgba(11,150,218,0) 25%, rgba(11,150,218,1) 55%);
          }
          &.current_light_blue {
            background: linear-gradient(rgba(41,172,236,0) 25%, rgba(41,172,236,1) 55%);
          }
        }
        .homeblock-content {
          align-self: flex-end;
          z-index: 1;
          padding: 0 15px;
          p {
            display: block;
            text-align: center;
            font-family: $black-font;
            font-size: 27px;
            text-transform: uppercase;
            line-height: 1em;
            margin: 0;
            span {
              display: block;
            }
            .homeblock-access {
              font-family: $light-font;
            }
            .homeblock-more {
              font-family: $bold-font;
              font-size: $main-txt;
              line-height: 1em;
              margin-top: ($space + 7px);
            }
          }
        }
      }
    }
  }

  section.highlights-section {
    margin-bottom: 0;
  }

}